.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto 1.5rem auto;
  position: relative;
}

.carousel-image-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  transition: opacity 0.2s ease-in-out;
  border-radius: 12px;
}

.carousel-image.fade-out {
  opacity: 0;
}

.carousel-arrow {
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  border: none;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 50%;
  z-index: 2;
  transition: background 0.2s;
}

.carousel-arrow:hover {
  background: rgba(158, 26, 16, 0.8);
}

.carousel-arrow.left {
  position: absolute;
  left: -60px;
}

.carousel-arrow.right {
  position: absolute;
  right: -60px;
}

@media (max-width: 600px) {
  .carousel-container {
    width: 100%;
  }
  .carousel-image {
    width: 100%;
    height: 250px;
  }
  .carousel-arrow.left {
    left: 0px;
  }
  .carousel-arrow.right {
    right: 0px;
  }
} 